<div class="test">
<h1>Check Out</h1>
</div>

<div id="form1" class="form">
	<div class="table">
		<tbody>
			<%= form_for(@rental) do |f| %>
			<tr>
				<td>
					<%= f.label :Rental_ID %>
					<%= f.text_field :Rental_ID %>
				</td>
				<td>
					 <%= f.label :UIN %>
					 <%= f.text_field :UIN %>
				</td>
				<td>
					 <%= f.label :Apparel_ID %>
					 <%= f.text_field :Apparel_ID %>
				</td>
				<td>
					<%= f.label :Checkout_Date %>
					<%= f.date_field :Checkout_Date %>
				</td>
				<td>
					<%= f.label :Expected_Return_Date %>
					<%= f.date_field :Expected_Return_Date %>
				</td>

			</tr>

			<tr>
				<td>
					<%= f.submit class: "btn-btn-primary3" %>
				</td>
				<% end %>
			</tr>
		</tbody>
	</div>
</div>