<div class="test">
<h1>Check Out</h1>
</div>

<table class="table">
	<thead>
		<tr>
			<%= form_for(@rental) do |f| %>

			<th align="center">
				<%= f.label :Rental_ID %>
			</th>
			<th>
				 <%= f.label :UIN %>
			</th>
			<th>
				 <%= f.label :Apparel_ID %>
			</th>
			<th>
				<%= f.label :Checkout_Date %>
			</th>
			<th>
				<%= f.label :Expected_Return_Date %>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<%= f.text_field :Rental_ID %>
			</td>
			<td>
				 <%= f.text_field :UIN %>
			</td>
			<td>
				 <%= f.text_field :Apparel_ID %>
			</td>
			<td>
				<%= f.date_field :Checkout_Date %>
			</td>
			<td>
				<%= f.date_field :Expected_Return_Date %>
			</td>
		</tr>
		<br>
	</tbody>
	<tr id="td_button">
		<td>
			<%= f.submit class: "btn-btn-primary3" %>
			<% end %>
		</td>
	</tr>
</table>
