<div class="test">
<h1>Check In</h1>
</div>
<form>
<table class="table">
	<thead>
		<tr>
			<%= form_tag return_path do %>
			<th>
				 <label for="UIN">UIN</label>
				 
			</th>
			<th>
				  <label for="Apparel_ID">Apparel_ID</label>
			</th>
			<th>
				 <label for="Return_Date">Return_Date</label>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				 
				 <%= text_field_tag("uin") %>
			</td>
			<td>
				 <%= text_field_tag("app") %>
			</td>
			<td>
				<%= date_field_tag("date") %>
			</td>
		</tr>
		<br>
	</tbody>
</table>

<div class="form">
     <%= submit_tag "Submit" ,class: "btn-btn-primary3" %> 

</div>
</form>
<% end %>
